*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111; /* Dark background */
    margin: 0;
    overflow: hidden; /* Prevents scroll if images go out of bounds */
    height: 100vh;
    flex-direction: column;
}

button{
    background: linear-gradient(45deg, #ff00ff, #ffcc00);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.5);
    position: absolute;
    bottom: 20px;
}

/* Button Hover Effect */
button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 165, 0, 0.8);
}

/* Car Images Styling */
img {
    transition: opacity 0.5s ease-in-out, 
                transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.888)); /* Glowing effect */
}
